body
{
    overflow-x: hidden;
    font-family: sans-serif;
    background: black; 

}
.offset:before {
    height: 10rem;
    margin-top: -10rem;
    content: "";
    display: block;

}
/* navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;

}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;

}
/* navbar end */
/* slider Start  */
.slide-h3 {
    font-size: 50px;
    text-align: center;
}
.carousel-item{
    background: black;
    height: 100vh;
    /* text-align: center; */
}
.carousel-caption {
    position: absolute;
    text-transform: uppercase; 
}
.carousel-caption h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem; 
    text-shadow: .1rem .1rem .2rem black;
    padding: 1rem;

}
.carousel-caption p {
    font-size: 1rem;
    text-shadow: .1rem .1rem .2rem black;
    padding-bottom: 1.6rem;
}
/* slider end */
/* portfolio start */
.jambotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
}
h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;

}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: cadetblue;
    margin: 0 auto 2rem;
}
/* images */
.portfolio img {
    max-width: 100%;
    transition: transform .5s ease;
}
.row.no-padding [class*=col-] {
    padding: 0;

}
.portfolio img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
    
}
.portfolio {
    overflow: hidden;
    margin-left: 100px;
    margin-bottom: 20px;
}

/* portfolio end */
/* works */

.container
{
    text-align: center;
    justify-content: center;

}

.card{
    margin-top: 10%;
    text-align: center;
    margin-left: 30px;

}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75); 
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}







/* works */

/* team section */

.card{
    margin: 2rem;

}
/* team section end */
/* contact */
footer {
    background-color: #40474e;
    padding: 2rem 0 3rem;
    margin-top: 1rem;
}
footer img {
    height: 3rem;
    margin: 1.5rem 0;
    
}
footer svg {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg {
    color: white;
}
hr.socket {
    border-top: .2rem solid #666666;
    width: 100%;
}


/* contact end */

/* media Querys */

@media (max-width: 767px) {
    .carousel-caption h3 {
        font-size: 1rem;
        letter-spacing: .1rem;
        padding: 0;
    
    }
    .carousel-caption p {   
        font-size: .75rem;
    }
}