
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');


body
{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    background: black; 

}
.offset:before {
    height: 2rem;
    margin-top: -2rem;
    content: "";
    display: block;

}
.go-top-btn i {
  width: 50px;
  height: 50px;
  position: fixed;
  color: white;
  background: #0f3959;
  border-radius: 30px;
  padding: 10px;
  padding-top: 16px;
  opacity: .8;
  right: 40px;
  bottom: 40px;
  box-shadow: -1px 10px 40px -12px rgba(0, 0, 0, 0.849);
}
.go-top-btn i:hover{
  opacity: 1;
}
/* navbar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
    
}
.navbar-brand {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;

}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;

}
/* navbar end */
/* slider Start  */
.slide-h3 {
    font-size: 50px;
    text-align: center;
}
.carousel-item{
    background: rgba(0, 0, 0, 0.514);
    height: 100vh;
    /* text-align: center; */
}
.carousel-caption {
    position: absolute;
    text-transform: uppercase; 
}
.carousel-caption h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem; 
    text-shadow: .1rem .1rem .2rem black;
    padding: 1rem;

}
.carousel-caption p {
    font-size: 1rem;
    text-shadow: .1rem .1rem .2rem black;
    padding-bottom: 1.6rem;
}
/* slider end */
/* portfolio start */
.jambotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
}
h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;

}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: cadetblue;
    margin: 0 auto 2rem;
}
.underline-bottom {
    width: rem;
height: .2rem;
background-color: cadetblue;
margin: 0 auto 2rem;
}
/* images */
.portfolio img {
    max-width: 100%;
    transition: transform .5s ease;
}
.row.no-padding [class*=col-] {
    padding: 20px;
    padding-left: 20px;

}
.row.no-padding {
    justify-content: center;
}
.portfolio img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
    
}
.portfolio {
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

/* portfolio end */
/* works */

.container
{
    text-align: center;
    justify-content: center;

}

.card{
    margin-top: 10%;
    text-align: center;
    margin-left: 30px;

}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75); 
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}








/* works */

/* team section */

.card{
    margin: 2rem;

}
/* team section end */

/* Contact US Start */

.cont .info {
    border-top: 3px solid #0f3959;
    border-bottom: 3px solid  #0f3959;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  }
  
  .cont .info i {
    font-size: 20px;
    color: #0f3959;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .cont .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
  }
  
  .cont .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
  }
  
  .cont .info .email p {
    padding-top: 5px;
  }
  
  .cont .info .social-links {
    padding-left: 60px;
  }
  
  .cont .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .cont .info .social-links a:hover {
    background: #0f3959;
    color: #fff;
  }
  
  .cont .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #0f3959;
    color: #fff;
  }
  
  .cont .php-email-form {
    width: 100%;
    border-top: 3px solid  #0f3959;
    border-bottom: 3px solid  #0f3959;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .cont .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .cont .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .cont .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .cont .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .cont .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #0f3959;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .cont .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .cont .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .cont .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .cont .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #47b2e4;
  }
  
  .cont .php-email-form input {
    height: 44px;
  }
  
  .cont .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .cont .php-email-form button[type="submit"] {
    background: #0f3959;
    border: 0;
    opacity: 0.95;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .cont .php-email-form button[type="submit"]:hover {
    background: #0f3959;
    opacity: 1;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/* ContactUS End */


/* bottom */
footer {
    background-color: #0f3959;
    padding: 2rem 0 3rem;
    margin-top: 1rem;
}
footer img {
    height: 3rem;
    margin: 1.5rem 0;
    
}
.col-md-5 p{
    color: whitesmoke;
    opacity: .5;
}
.col-md-5 p:hover{
    opacity: 1;
}
.col-md-5{  
    color: whitesmoke;
}
footer svg {
    opacity: .2s;
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: white;
}
footer svg:hover {
    opacity: 1;
}
footer .row .col-md-5 a i{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    opacity: .9;
    /* background: white; */

}
footer .row .col-md-5 a i:hover {
    opacity: 1;
}
hr {
    color: whitesmoke;
    background: whitesmoke;
}
hr.socket {
    border-top: .2rem solid #666666;
    width: 100%;
}


/* bottom end */

/* loader start*/

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/logo/Spin-1.4s-200px.gif) 50% 50% no-repeat rgb(249,249,249);
  opacity: 1;
}

/* loader End */


/* media Querys */

@media (max-width: 767px) {
    .carousel-caption h3 {
        font-size: 1rem;
        letter-spacing: .1rem;
        padding: 0;
    
    }
    .carousel-caption p {   
        font-size: .75rem;
    }
}